.day-title-container {
  height: 3.5rem;
  display: none;
}

.day-title {
  height: 3.5rem;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease;
}

.day-title.day-title-sticky {
  top: 45px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  transform: translateX(-45px);
}

.day-offscreen .day-title h3 {
  opacity: 0;
  transform: translateY(-60px);
}

.day-title h3 {
  transition: all 0.3s ease;
}

.day-title.day-title-sticky h3 {
  font-size: 2rem;
  color: #000;
}
